<link rel="stylesheet" href="/stylesheets/directions.css">



<div class="container-fluid about-bg">



  <div class="row" id="map">
          <script>
            function initMap() {
              var restaurant = {lat: 41.060623, lng: -75.591204};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                scrollwheel: false,
                center: restaurant
              });

              var contentString = '<div id="content">'+
                '</div>'+
                '<h1>Piggys Restaurant</h1>'+
                '<div id="bodyContent">'+
                '<a href="https://www.google.com/maps/place/Piggys/@41.0606239,-75.5912084,15z/data=!4m5!3m4!1s0x0:0x79cae1ba6ee94246!8m2!3d41.0606239!4d-75.5912084"><p>Directions to: 16 N Lakeshore Dr, Lake Harmony, PA 18624</p></a>'+
                '</div>'+
                '</div>';

              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

              var marker = new google.maps.Marker({
                position: restaurant,
                map: map,
                title: 'Uluru (Ayers Rock)'
              });
              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });
            }
          </script>


          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDbonUFD0KILkQUvaHKwGtf-JqHV9XBVU&callback=initMap">
          </script>
          <article></article>
  </div>







  <div class="row" id="about-text">
        <article>DIRECTIONS TO PIGGY'S</article>
        <div class="piggys-directions">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
            <div class="row about-paragraphs">
              Paul &amp; Bette Davidson<br>
              PO Box 565<br>
              N Lake Dr &amp; S. Lake Dr<br>
              Lake Harmony PA 18624<br>
              (570) 722-8493<br><br>

              GPS settings: 91 N. Lake Drive, Lake Harmony, PA
            </div>

            <div class="row direction-from">
              From I-476 North or South (PA Turnpike Northeast Extension): Take exit 95, Pocono, and turn left onto Rt. 940 East. *At the first light (approx. 3 miles) take a right onto Moseywood Road at Split Rock Resort. You will have to pay a one dollar ($1.00) toll to drive through Split Rock. After you pass the Galleria (a hotel) make the next right onto Birchwood Rd. As you pass the miniature golf course and park, follow the road to the right. Once you drive through the second tollgate (no toll on this end) we're another mile ahead on Lake Drive, past Nick's Lake House.
            </div>

            <div class="row direction-from">
              From I-80 East: Take exit 277, Lake Harmony, to the light at Rt. 940. Take a Right onto Rt. 940 East. Then follow directions for Turnpike from asterisk(*).
            </div>

            <div class="row direction-from">
              From I-80 West: Take exit 284, Blakeslee, and turn left onto Rt. 115. After 3 miles, take a Right onto Rt. 903. Another 3 miles will bring you to Big Boulder Mountain Road (which is known as Lake Drive at the other end). Follow Lake Drive to the stop sign at Piggy's in Lake Harmony!
            </div>


          </div>
        </div>
  </div>


</div>
