<link rel="stylesheet" href="/stylesheets/giftshop.css">


<div class="container-fluid giftshop">
  <div class="container" id="store">
    <div class="row">
      <div class="col-lg-12 text-center">
        <span class="title-text">Pig Penn Gift Shop</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal1"></i>
              </div>
            </a>
              <img src="images/giftshop/1.png" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Classic Piggy's T-Shirt</span><br>
            <span class="caption-small">Short Sleeve/Long Sleeve</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal2"></i>
              </div>
            </a>
              <img src="images/giftshop/2.png" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Piggy's Hog T-Shirt</span><br>
            <span class="caption-small">Girls Tank/Mens Muscle/Short Sleeve</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal3"></i>
              </div>
            </a>
              <img src="images/giftshop/3.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Light Tie-Dye Piggy's T-Shirt</span><br>
            <span class="caption-small">Short Sleeve/Long Sleeve</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal4"></i>
              </div>
            </a>
              <img src="images/giftshop/4.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Dark Tie-Dye Piggy's T-Shirt</span><br>
            <span class="caption-small">Short Sleeve/Long Sleeve</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal5"></i>
              </div>
            </a>
              <img src="images/giftshop/5.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
          <span>Apron with Gift Box</span><br>
          <span class="caption-small">One Size</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal6"></i>
              </div>
            </a>
              <img src="images/giftshop/6.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Piggy's Bib</span><br>
            <span class="caption-small">One Size</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal7"></i>
              </div>
            </a>
              <img src="images/giftshop/7.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Boxers</span><br>
            <span class="caption-small">One Size</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal8"></i>
              </div>
            </a>
              <img src="images/giftshop/8.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Socks</span><br>
            <span class="caption-small">One Size</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal9"></i>
              </div>
            </a>
              <img src="images/giftshop/9.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Knitted Piggy Hat</span><br>
            <span class="caption-small">One Size</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal10"></i>
              </div>
            </a>
              <img src="images/giftshop/10.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Knitted Piggy Mittens</span><br>
            <span class="caption-small">One Size</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal11"></i>
              </div>
            </a>
              <img src="images/giftshop/11.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Slippers</span><br>
            <span class="caption-small">One Size</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal12"></i>
              </div>
            </a>
              <img src="images/giftshop/12.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Purse</span><br>
            <span class="caption-small">Leather</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal13"></i>
              </div>
            </a>
              <img src="images/giftshop/13.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Purse</span><br>
            <span class="caption-small">Leather</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal14"></i>
              </div>
            </a>
              <img src="images/giftshop/14.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Purse</span><br>
            <span class="caption-small">Leather</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal15"></i>
              </div>
            </a>
              <img src="images/giftshop/15.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Purse</span><br>
            <span class="caption-small">Leather</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal16"></i>
              </div>
            </a>
              <img src="images/giftshop/16.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Purse</span><br>
            <span class="caption-small">Leather</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal17"></i>
              </div>
            </a>
              <img src="images/giftshop/17.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig</span><br>
            <span class="caption-small">in a can</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal18"></i>
              </div>
            </a>
              <img src="images/giftshop/18.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Trunki</span><br>
            <span class="caption-small">Melissa &amp; Doug</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal19"></i>
              </div>
            </a>
              <img src="images/giftshop/19.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Olivia</span><br>
            <span class="caption-small">with a blanket</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal20"></i>
              </div>
            </a>
              <img src="images/giftshop/20.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Puddles</span><br>
            <span class="caption-small">with a blanket</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal21"></i>
              </div>
            </a>
              <img src="images/giftshop/21.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Towel</span><br>
            <span class="caption-small">One Size</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal22"></i>
              </div>
            </a>
              <img src="images/giftshop/22.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Bank</span><br>
            <span class="caption-small">Baseball - Large</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal23"></i>
              </div>
            </a>
              <img src="images/giftshop/23.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Bank</span><br>
            <span class="caption-small">Musical - Small</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal24"></i>
              </div>
            </a>
              <img src="images/giftshop/24.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Bank</span><br>
            <span class="caption-small"> Large - Heart &amp; bow</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal25"></i>
              </div>
            </a>
              <img src="images/giftshop/25.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Bank</span><br>
            <span class="caption-small">Large - Circles of Color</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal26"></i>
              </div>
            </a>
              <img src="images/giftshop/26.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Bank</span><br>
            <span class="caption-small">Large - Ballerina with Pink Shoes</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal27"></i>
              </div>
            </a>
              <img src="images/giftshop/27.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Bank</span><br>
            <span class="caption-small">Large - Princess with Crown</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal28"></i>
              </div>
            </a>
              <img src="images/giftshop/28.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Bank</span><br>
            <span class="caption-small">Large - Ballerina with Black Shoes</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal29"></i>
              </div>
            </a>
              <img src="images/giftshop/29.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Bank</span><br>
            <span class="caption-small">Small - Ballerina with Box</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal30"></i>
              </div>
            </a>
              <img src="images/giftshop/30.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Shot Glass</span><br>
            <span class="caption-small">One Ounce</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal31"></i>
              </div>
            </a>
              <img src="images/giftshop/31.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Piggy's Mug</span><br>
            <span class="caption-small">Standard</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal32"></i>
              </div>
            </a>
              <img src="images/giftshop/32.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Bank</span><br>
            <span class="caption-small">Plush</span>
        </div>
      </div>

      <div class="col-sm-4 store-item">
        <div class="store-link">
            <a href="#larger-view" class="store-hover">
              <div class="store-hover-content">
                <i class="fa fa-search-plus fa-3x" data-toggle="modal" data-target="#modal33"></i>
              </div>
            </a>
              <img src="images/giftshop/33.jpg" class="img-responsive">
        </div>
        <div class="store-caption">
            <span>Pig Frame</span><br>
            <span class="caption-small">Bobble Head</span>
        </div>
      </div>

    </div>
  </div>



  <div class="store-modal modal fade" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/1.png" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/2.png" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/3.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/3.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/4.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/5.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/6.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal7" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/7.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal8" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/8.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal9" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/9.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal10" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/10.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal11" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/11.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal12" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/12.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal13" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/13.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal14" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/14.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal15" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/15.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal16" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/16.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal17" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/17.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal18" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/18.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal19" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/19.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal20" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/20.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal21" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/21.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal22" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/22.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal23" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/23.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal24" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/24.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal25" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/25.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal26" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/26.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal27" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/27.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal28" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/28.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal29" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/29.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal30" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/30.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal31" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/31.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal32" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/32.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="store-modal modal fade" id="modal33" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Project Title</h2>
                          <hr class="star-primary">
                          <img src="images/giftshop/33.jpg" class="img-responsive img-centered" alt="">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


</div>
