<div class="container-fluid">

  <div class="row">
  <section id="home" data-type="background" data-speed="10" class="pages">
      <article></a>
  </section>
</div>

<div class="row">
  <section id="awards" data-type="background" data-speed="10" class="pages">
      <article>SPECIAL RECOGNITION</article>
  </section>
</div>

</div>
