<body id="page-top" class="index">
<div class="container-fluid">

  <div class="row">
    <section id="home" data-type="background" data-speed="10" class="pages">
        <article></a>
    </section>
  </div>

  <div class="row">
    <section id="awards" data-type="background" data-speed="10" class="pages">
        <article>SPECIAL RECOGNITION</article>


    <!-- <section id="portfolio" class="bg-light-gray"> -->
        <div class="container" id="portfolio">
            <div class="row awards-list">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-link">
                        <a href="#recogniton" class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x" data-toggle="modal" data-target=".modalOne"></i>
                            </div>
                        </a>
                        <img src="/images/award-box1.png" class="img-responsive" alt="">

                    </div>
                    <div class="portfolio-caption">
                        <span>june 2010</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-link">
                        <a href="#recogniton" class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x" data-toggle="modal" data-target=".modalTwo"></i>
                            </div>
                        </a>
                        <img src="/images/award-box2.png" class="img-responsive" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <span>spring 2010</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-link">
                        <a href="http://www.nytimes.com/2009/02/13/greathomesanddestinations/13havens.html?pagewanted=1&%2359;s%20Restaurant&%2339&_r=1&sq=Piggy&st=nyt&scp=1" class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </a>
                        <img src="/images/award-box3.png" class="img-responsive" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <span>february 2010</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-link">
                        <a href="#recogniton" class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x" data-toggle="modal" data-target=".modalFour"></i>
                            </div>
                        </a>
                        <img src="/images/award-box4.png" class="img-responsive" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <span>july 2010</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-link">
                        <a href="#recogniton" class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x" data-toggle="modal" data-target=".modalFive"></i>
                            </div>
                        </a>
                        <img src="/images/award-box5.png" class="img-responsive" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <span>2010</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <div class="portfolio-link">
                        <a href="http://www.grandparents.com/food-and-leisure/travel/playing-in-the-poconos" class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </a>
                        <img src="/images/award-box6.png" class="img-responsive" alt="">
                    </div>
                    <div class="portfolio-caption">
                        <span>current</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>



</div>






<!-- MODALS -->
  <div class="modal fade modalOne" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <img src="/images/interval-award.jpg">
          <a href="close"><i class="fa fa-times fa-4x" data-dismiss="modal"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modalTwo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <img src="/images/fastlane-award.jpg">
          <a href="close"><i class="fa fa-times fa-4x" data-dismiss="modal"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modalFour" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <img src="/images/lakenews-award.gif">
          <a href="close"><i class="fa fa-times fa-4x" data-dismiss="modal"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modalFive" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <img src="/images/talktown-award.jpg">
          <a href="close"><i class="fa fa-times fa-4x" data-dismiss="modal"></i></a>
        </div>
      </div>
    </div>
  </div>



</body>
