<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
  </head>
  <body>

    <!-- NAVIGATION BAR -->
    <div class="container-fluid desktop-menu">
      <div class="row navbar">
          <img class="navbar-photo img-responsive" src="/images/navbar-photo.png">
      </div>


      <div class="row navbar-links">

        <div class="col-lg-1 col-md-1 col-sm-1 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 nav-button">
          <a class="no-deco" href="/">HOME</a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 nav-button">
          <a class="no-deco" href="/about">ABOUT US</a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 nav-button">
          <a class="no-deco" href="/breakfast">BREAKFAST</a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 nav-button">
          <a class="no-deco" href="/lunch">LUNCH</a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 nav-button">
          <a class="no-deco" href="/ice-cream">ICE CREAM</a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 nav-button">
          <a class="no-deco" href="/giftshop">GIFT SHOP</a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 nav-button">
          <a class="no-deco" href="/directions">DIRECTIONS</a>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 nav-button">
          <a class="no-deco" href="/feedback">FEEDBACK</a>
        </div>
      </div>
    </div>





  <!-- <div class="mobile-menu">
    <div class="row navbar">
        <img class="mobile-navbar-photo img-responsive" src="/images/piggys-restaurant.png">
    </div>

  <p>
    <button class="toggle-menu" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
      <span class="sr-only">Toggle navigation</span>
      Menu <i class="fa fa-bars"></i>
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-block">
      <ul class="nav navbar-nav ">
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
        <li>
           <a href="https://drive.google.com/file/d/0B018ui5zoEoWN1N2TnBRcHZKcUE/view?usp=sharing">R&Eacute;sum&Eacute;</a>
        </li>
      </ul>
    </div>
  </div>
</div> -->




    <%- body %>
    <footer>
      <a href="mailto:piggysinfo@piggysrestaurant.com"><img class="footer-icon" src="images/email.png"></a>
      <a href="https://www.facebook.com/PiggysRestaurant/"><img class="footer-icon" src="images/facebook.png"></a>
      <a href="https://www.yelp.com/biz/piggys-restaurant-lake-harmony"><img class="footer-icon" src="images/yelp.png"></a>
      <a href="https://www.tripadvisor.com/Restaurant_Review-g52962-d674211-Reviews-Piggy_s_Restaurant-Lake_Harmony_Pocono_Mountains_Region_Pennsylvania.html"><img class="footer-icon-right" src="images/trip-advisor.png"></a>

      <span class="footer-text">HIGH QUALITY FOOD, CRAFTED WITH <i class="fa fa-heart" aria-hidden="true"></i> IN THE POCONOS</span>
    </footer>
    <div class="second-footer">&copy; Piggy's Restaurant. All Rights Reserved.</div>
    <script
    src="//code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!-- my javascript files -->
    <script src = "javascripts/restaurant.js"></script>
  </body>
</html>
