<link rel="stylesheet" href="/stylesheets/menu.css">


<div class="container-fluid">
  <div class="row menu-top">
  </div>
</div>

<div class="container-fluid breakfast-background-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">

        <div class="row">
          <div class="col-lg-12 menu-list">
            <h1>gourmet hamburgers</h1>
          </div>
        </div>

        <div class="row">
          <div class="menu-description">
            An All-American, juicy, thick hamburger available with lettuce, tomato, onion and pickles on a Kaiser roll with chips. 5 or 8 oz.
          </div>
        </div>

        <div class="row list-options">
          <ul>
            <li>plain burger</li>
            <li>cheese burger</li>
            <li>pizza burger</li>
            <li>bacon cheese burger</li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">

        <div class="row">
          <div class="col-lg-12 menu-list">
            <h1>philadelphia steak sandwiches</h1>
          </div>
        </div>

        <div class="row">
          <div class="menu-description">
            The best in the Pocono’s! Only Choice top round used. You’ll love it! Available with hot peppers, fried onions and chips.
          </div>
        </div>

        <div class="row list-options">
          <ul>
            <li>plain steak</li>
            <li>cheese steak</li>
            <li>pizza steak*</li>
            <li>chicken steak</li>
            <li>chicken cheese steak</li>
          </ul>
        </div>

        <div class="row">
          <div class="menu-description">
            * Mozzarella cheese and sauce
          </div>
        </div>
      </div>
    </div>
  </div>






  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">

        <div class="row">
          <div class="col-lg-12 menu-list">
            <h1>cold sandwiches</h1>
          </div>
        </div>

        <div class="row">
          <div class="menu-description">
            A generous Piggy’s size sandwich available on Italian white bread, seedless rye, whole wheat or a Kaiser roll. Available with lettuce, tomato, onion and chips.
          </div>
        </div>

        <div class="row list-options">
          <ul>
            <li>hatfield smoked ham</li>
            <li>turkey breast</li>
            <li>egg salad</li>
            <li>tuna salad</li>
            <li>chicken salad</li>
            <li>blt</li>
            <li>pb&amp;j</li>
          </ul>
        </div>

        <div class="row">
          <div class="menu-description">
            Extras: White American Cheese - - Hatfield Bacon - - French Fries
          </div>
        </div>

      </div>
    </div>
  </div>







  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">

        <div class="row">
          <div class="col-lg-12 menu-list">
            <h1>hot sandwiches</h1>
          </div>
        </div>

        <div class="row list-options">
          <ul>
            <li>b.b.q pork*</li>
            <li>grilled cheese</li>
            <li>breaded chicken fillet</li>
            <li>breaded fish fillet</li>
            <li>beef sabretts hot dog</li>
          </ul>
        </div>

        <div class="row">
          <div class="menu-description">
            * Southern Style - pulled pork in a delicious BBQ sauce that you'll love!
          </div>
        </div>
      </div>
    </div>
  </div>








  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">

        <div class="row">
          <div class="col-lg-12 menu-list">
            <h1>piggy's house club</h1>
          </div>
        </div>

        <div class="row">
          <div class="menu-description">
            Triple decker piled high. Served with Hatfield bacon, lettuce, tomato, chips and a pickle.
          </div>
        </div>

        <div class="row list-options">
          <ul>
            <li>turkey</li>
            <li>tuna</li>
            <li>ham</li>
            <li>egg salad</li>
            <li>chicken salad</li>
          </ul>
        </div>

      </div>
    </div>
  </div>









  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">

        <div class="row">
          <div class="col-lg-12 menu-list">
            <h1>hoagies</h1>
          </div>
        </div>

        <div class="row">
          <div class="menu-description">
            A king size treat! Pig out! Served with lettuce, tomato, onion, chips and a pickle.
          </div>
        </div>

        <div class="row list-options">
          <ul>
            <li>ham</li>
            <li>turkey</li>
            <li>tuna</li>
            <li>chicken salad</li>
            <li>american cheese</li>
          </ul>
        </div>

        <div class="row">
          <div class="menu-description">
            Extras: White American Cheese - - Hatfield Bacon - - French Fries
          </div>
        </div>
      </div>
    </div>
  </div>







  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">

        <div class="row">
          <div class="col-lg-12 menu-list">
            <h1>soups &amp; salads</h1>
          </div>
        </div>

        <div class="row">
          <div class="menu-description">
            Complete your breakfast with one of these delicious meats from Hatfield and Taylor
          </div>
        </div>

        <div class="row list-options">
          <ul>
            <li>garden salad</li>
            <li>tuna salad</li>
            <li>egg salad</li>
            <li>chicken salad</li>
            <li>chef's salad*</li>
            <li>chili**</li>
          </ul>
        </div>

        <div class="row">
          <div class="menu-description">
            *  Turkey, Ham &amp; American Cheese
            <br>
            ** Winter Only
          </div>
        </div>

        <div class="row">
          <div class="menu-description">
            Dressings: Ranch - - French - - Thousand Island - - Blue Cheese - - Italian
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
