/*#map {
  height: 50vh;
}*/

.directions{
  background-color:#fcf8e3;
}

.header-text{
  text-align: center;
  font-family: 'Francois One', sans-serif;
  font-size: 51px;
  color: #242430;
}

#map{
  min-height: 600px;
  margin: 0 auto;
  /*width: 100vw;*/
  max-width: 1920px;
}
#map article{
  height: 458px;
  /*position: absolute;*/
  text-align: center;
  top: 150px;
  width: 100%;
  font-size:50px;
  color:white;
}

#about-text{
  background-image: url(/images/cricut-edge.png);
  background-repeat:no-repeat;
  margin-top:-65px;
  /*min-height:100vh;*/
  opacity:1;
  position:relative;
}

#about-text article {
  /*height: 458px;*/
  position: absolute;
  text-align: center;
  top: 35px;
  width: 100%;
  font-family: 'Francois One', sans-serif;
  font-size: 51px;
  color: #242430;
}

.about-bg {
  padding-left:0px;
  padding-right:0px;
}

.piggys-directions{
  padding-top:175px;
  text-align:center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.direction-from{
  padding-top:20px;
  padding-bottom:20px;
}
