

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#ffccff;
}

a {
  text-decoration:none;
  color:inherit;
}


.photo-position {
    position: relative;
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
    margin-bottom: -70px;
    display:inline-block;
    z-index:1000;
}

.pig-photo {
  float:right;
  height:124px;
}

.no-deco {
  text-decoration:none;
  color:#b53838;
}

.no-deco:hover {
  text-decoration:none;
  color:#b53838;
}
.nav-button{
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  margin-bottom: 10px;
}
.nav-button:hover{
  background-color:pink;
}
.navbar{
  padding-top:10px;
  margin-bottom:0px !important;
}

.navbar-photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navbar-links{
  text-align:center;
  font-family: 'Francois One', sans-serif;
  text-decoration: none;
}




/*HOME PAGE*/
#home{
  background: url(/images/pancakes2.jpg) 50% 0 repeat fixed; max-height: 100vh;
  min-height: 700px;
  margin: 0 auto;
  width: 100vw;
  max-width: 1920px;
  position: relative;
}
#home article{
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
  font-size:50px;
  color:white;
}
#awards{
  background-image: url(/images/cricut-edge.png);
  background-repeat:no-repeat;
  width:100vw;
  margin-top:-65px;
  min-height:1000px;
  opacity:1;
  position:relative;
}
#awards article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 35px;
  width: 100%;
  font-family: 'Francois One', sans-serif;
  font-size: 51px;
  color: #242430;
}
.awards-list{
 margin-top:200px;
}

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: #283652;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
  font-size:15px;
  background-color: #f0e6e4;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.fa-times{
  color:black;
}
.award-title {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}

.box{
  width:100px;
  height:100px;
  color:blue;
}
